body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* text-align: end; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
:root {
  --blueDark: #17135a;
  --blueMid: #2b259b;
  --blueLight: #2b259bd9;
  --transitionColor: color 0.2s ease-out;
  --transitionBsckgroundColor: background-color 0.5s
    cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
/* ---------------- header */
header{
    width: 100%;
    height: 40em;
    background-image: url("../public/image/wallpaperbetter.com_2560x1440.jpg");
    background-size: cover;
    padding: 30px 0;
}
header >div{
    background-color: var(--blueDark);
    width: 40em;
    height: 90%;
    margin: 0 650px;
    color: white;
}