body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* text-align: end; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* background-image: url("../public/image/wallpaperbetter.com_1680x1050.jpg");
  background-size: contain; */
}
:root {
  --blueDark: #0e1c42fa;
  --blueMid: #252357;
  --blueLight: #322d91d9;
  --ramade: rgb(121, 121, 121);
  --transitionColor: color 0.7s ease-out;
  --transitionBsckgroundColor: background-color 0.5s
    cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
/* ---------------- header */
header {
  width: 100%;
  height: 27em;
  background-color: var(--blueDark);
  background-image: url("../public/image/wallpaperbetter.com_2732x1536.jpg");
  filter: grayscale(50%);
  background-size: contain;
  padding: 30px 0;
}
header > div {
  background-color: var(--blueDark);
  width: 35em;
  height: 24.5em;
  margin: 10px 38em;
  padding: 10px 60px;
  color: white;
}
header > div > h1 {
  font-size: 65px;
  font-weight: bold;
  margin: 0;
}
header > div > h2 {
  font-size: 30px;
  font-weight: 300;
  margin: 5px 0 15px 0;
}
header > div > ul {
  margin: 0 -20px 0 0;
}
header > div li {
  line-height: 35px;
  font-size: 20px;
  font-weight: 200;
}
header > div button {
  width: 15em;
  margin: 43px 150px 0 150px;
  padding: 10px;
  background-color: #0e1c4200;
  border: 2px solid rgb(196, 196, 196);
  border-radius: 20px;
  font-size: medium;
  font-weight: 600;
  font-size: 17px;
  color: white;
  padding: 10px;
  transition: var(--transitionBsckgroundColor);
  transition: var(--transitionColor);
}
header > div button:hover {
  color: var(--blueDark);
  background-color: #077ddd;
}
/* ---------------------------------- aboutWe_section*/
#aboutWe_section {
  /* padding: 0 100px; */
  height: 26em;
  padding: 10px 15px 0px 15px;
  text-align: center;
  display: flex;
  justify-content: center;
}
#aboutWe_section > div {
  margin: 20px 0;
  padding: 40px;
  color: rgba(51, 51, 51, 0.808);
  box-shadow: 0 0 10px var(--ramade);
}
#aboutWe_section > div > h3 {
  font-size: xx-large;
  color: var(--blueLight);
  margin: 20px 0;
}
#aboutWe_section > div > p {
  font-size: large;
}
/* .aboutWe_borderDiv {
  margin: 70px 150px 60px 0;
  width: 50em;
} */
/* -------------------------- breakSection */
#breakSection > h1 {
  font-size: 40px;
  width: 100%;
  text-align: center;
  margin: 0 0 1px 0;
}
/* -------------------------------- service_section */
#service_section {
  padding: 50px 143px;
  text-align: center;
  display: grid;
  grid-template-columns: 32em 32em 32em;
  grid-template-rows: 22em 22em;
  gap: 40px;
}
#service_section > div {
  background-color: var(--blueMid);
  padding: 40px 30px;
  color: white;
}
#service_section > div > img {
  background: linear-gradient(45deg, #000000d9, #20356efa);
  width: 5em;
  padding: 0 20px;
  border-radius: 15px;
}
#service_section > div > h3 {
  font-size: x-large;
  margin: 15px 0;
}
#service_section > div > p {
  padding: 0 10px;
  font-size: large;
}
/* -----------------------------------footer */
footer {
  height: 25em;
  padding: 0 25em;
}
footer > h2 {
  width: 10em;
  background: -webkit-linear-gradient(45deg, #077ddd, var(--blueDark));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: xx-large;
  margin-bottom: 10px;
}
footer > h3 {
  font-size: medium;
  margin-bottom: 50px;
  color: var(--ramade);
}
footer > form > div {
  width: 100%;
  height: 50px;
  border: 3px solid var(--blueLight);
  border-radius: 5px;
  margin-bottom: 30px;
}
footer > form > div > img {
  background-color: var(--blueLight);
  width: 5%;
  height: 100%;
  float: left;
}
footer > form > div > input {
  background-color: rgba(255, 222, 173, 0);
  height: 100%;
  width: 93%;
  font-size: larger;
  padding-right: 20px;
  border: none;
}
footer > button {
  font-size: larger;
  width: 7em;
  height: 2em;
  border: none;
  border-radius: 5px;
  color: var(--blueDark);
  background-color: var(--blueLight);
  margin: 30px 25em 0 25em;
  transition: var(--transitionBsckgroundColor);
  transition: var(--transitionColor);
}
footer > button:hover {
  color: white;
  background-color: #077ddd;
}
